<!-- <ul>
  <% @products.each do |p| %>
<li><%= p.name %> - $<%= p.price %><br>
  <div id="product-<%= p.id %>"><%= truncate(p.description) %></div>
  <button class="js-more" data-id="<%= p.id %>">More Info</button>
    <p id="moreInfo-<%= p.id %>"></p>
</li>
  <% end %>
</ul> -->
<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryText = "<strong>Available</strong>";
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
</script>

<!-- <script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click',function() {
      var id = $(this).data("id");
      $.get('/products/' + id + "/description",function(description) {
        $.get('/products/' + id + "/inventory", function(inventory) {
          if (inventory === 'false'){
            var data = 'Sold Out'
          } else{
            var data = 'Available'
          }
        $("#moreInfo-" + id).text(description + "-" + data);
      })
      })
    })
  })
</script> -->


<!-- <script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on('click', function() {
    var id= $(this).data('id')
    var description = $(this).data('description')
    var inventory = parseInt($(this).data('inventory'))
    // var id = this.dataset.id;
    // var description = this.dataset.description
    // var inventory = parseInt(this.dataset.inventory)
    if (inventory == 0){
      var data = 'Sold Out'
    } else{
      var data = 'Available'
    }
      $("#moreInfo-" + id).text(`${data} - ${description}`);
  })
}) -->
<!--
</script> -->
